@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.myLikes-hero{
    height: 56.25rem;
    background: rgb(8, 8, 8)
}
.myLikes-hero-title{
   color: white;
   font-family: 'Ubuntu', sans-serif;
   font-size: 6rem;
   text-align: center;
   padding-top: 10%;
   padding-bottom: 3%;
}
.myLikes-hero-p{
    color: rgb(95, 95, 95);
    text-align: justify;
    font-family: 'ubuntu', sans-serif;
    font-size: 1.8rem;
}
.img-carousel{
    height: 56.25rem;
    width: 100%;
    filter: brightness(50%);
    aspect-ratio: 16/9;
}